body{
    box-sizing: border-box;
    margin: 0 auto;
    margin-top: 0;
    color: white;
    font-family: 'Roboto', sans-serif;
}

.nav{
    display: flex;
    width: vw;
    align-items: center;
    height: 50px;
    background-color: #121212;
    box-shadow: 10px 0px 10px black;
    padding-right:7vw;
    padding-left:7vw;
    position:relative;
}

.nav-logo{
    cursor: pointer;
    position: absolute;
    left: 80vw;
}

h1{
    text-transform: uppercase;
    font-size: 1.25rem;
    margin: 0;
}

.nav-links{
    display: flex;
    justify-content: center;
    margin-left:auto;
    flex-wrap: nowrap;
    position: absolute;
}

ul{
    list-style: none;
    padding: 0;
    margin-right: 3vw;
}

li{
    display: inline;
    margin: 1vw;
    font-size: 0.75rem;
    cursor: pointer;
}

button{
    padding: 7px 20px;
    border:none;
    border-radius: 20px;
    cursor: pointer;
    background-color: #2a9df4;
    color: white;
    position: relative;
    left:22vw;
}

